.main-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  background: #06283d;
  color: #dff6ff;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
}
