.blog-container {
  text-align: center;
  padding: 15px;
  padding-top: 20px;
  background: #256d85;
  color: #dff6ff;
}

.blog-container p {
  font-size: 16px;
}
.blog-qa {
  background: #06283d;
  color: #eae3d2;
  text-align: left;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}
.blog-qa h2 {
  margin-bottom: 10px;
}
