.blog-container {
  text-align: center;
  padding: 15px;
  padding-top: 20px;
  background: #256d85;
  color: #dff6ff;
}
.blog-container li {
  list-style: none;
}
.blog-container p {
  font-size: 16px;
}
